@media (max-width: 768px) {
    .mobile-header {
        flex-direction: column;
        align-items: center;
    }
    .mobile-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .mobile-nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .mobile-nav ul li {
        width: 100%;
    }
    .mobile-nav.active {
        display: flex;
    }
}
.hover\:text-limegreen:hover {
    color: limegreen;
}